$primary-color: #00499e;
$primary-color-hover: #003b7f;
$secondary-color: #8fc229;
$secondary-color-hover: #749c23;
$ternary-color: #3b4d55;
$ternary-color-hover: #32424b;
$text-color: #252525;

@mixin btn($bg-color, $bg-color-hover) {
  padding: 14px 35px;
  background-color: $bg-color;
  color: white;
  &:hover {
    background-color: $bg-color-hover;
  }
}
%section__title {
  font-weight: bold;
  position: relative;
  padding-left: 30px;
  line-height: 1.6rem;
  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 25px;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 25px;
    background-color: $secondary-color;
    position: absolute;
    left: 7px;
    top: 5px;
  }
}
