@use "responsive.module.scss";
@use "attribute.module.scss";

$footer-color: #6791a6;

.footer {
  padding-top: 6rem;
  background-color: attribute.$primary-color;
  margin-top: 8rem;
  color: white;
  position: relative;
  .footer__divider {
    border-color: $footer-color;
    border-bottom-width: 0px;
    border-top-width: 1px;
    margin: 1rem 0;
    position: relative;
    background: linear-gradient(
      90deg,
      attribute.$secondary-color 66.6667%,
      transparent 33.3333%
    );
    height: 3px;
  }
  .footer__column1 {
    img {
      width: 160px;
    }
    .footer__column1__paragraph {
      margin-top: 1.5rem;
      span {
        font-weight: bold;
      }
    }
    .footer__column1__social {
      color: $footer-color;
      margin-top: 1.5rem;
      cursor: pointer;
      &:hover {
        color: attribute.$secondary-color;
      }
    }
  }
  .footer__column2 {
    .footer__column2__news {
      padding: 0.5rem 0;
      margin-bottom: 0.25rem;
      .footer__column2__news__title {
        font-family: "Poppins", sans-serif;
        display: inline-block;
        margin: 0.75rem 0;
        text-decoration: none;
        color: white;
        &:hover {
          color: $footer-color;
        }
      }
      .footer__column2__news__date {
        color: $footer-color;
      }
    }
  }
  .footer__column3 {
    .footer__column3__usefulLink {
      display: block;
      text-decoration: none;
      color: $footer-color;
      p {
        color: white;
      }
      &:hover {
        p {
          color: inherit;
        }
      }
    }
  }
  .footer__column4 {
    .footer__column4__icon {
      color: $footer-color;
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem 0;
  border-top: 1px solid #ffffff33;
}
